* {
   font-family: "Hack";
}

window {
	border: 1px solid #443238 ;
	border-radius: 12px;
    background-color: #20222a;
}

#input {
    margin: 5px;
    border-radius: 4px;
    background-color: #0c2b29;
    color: white;
}

#inner-box {
    background-color: #0c2b29;
}

#outer-box {
    margin: 2px;
    padding: 10px;
}

#scroll {
    margin: 5px;
}

#text {
    padding: 4px;
    color: white;
}


#entry:selected {
    background-color: black;
}

#text:selected {
    background: transparent;
}
